*~
*.swp
class
create_env
spiritc/out/*.*
rand10.env
sin_network_parametrized
create_network
create_prelearned
flat.conn
out_swt_pattern/
prelearned.conn
spirit
spiritc/twol.conn
spiritc/tags
spiritc/networkConnectivity
spiritc/pop*
spiritc/spiritpythonanalysis
